* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* root elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

header {
    background-color: #265EE8;
    height: 100%;
}

a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 0 15px 0 15px;
    display: inline-block;
}

footer {
    background-color: #23272A;
    height: 100%;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.4rem;
}
/* root elements */

/*buttons*/
.btn-small {
    font-size: 0.7rem;
    background-color: #fff;
    border-width: 0;
    padding: 8px 10px;
    border-radius: 25px;
    color: #000;
}

.btn-big-white {
    font-size: 1rem;
    background-color: #fff;
    border-width: 0;
    padding: 13px 25px;
    margin-right: 20px;
    border-radius: 25px;
    color: #000;
}

.btn-big-dark {
    font-size: 1rem;
    background-color: #23272A;
    border-width: 0;
    padding: 13px 25px;
    margin-right: 20px;
    border-radius: 25px;
    color: #fff;
}
/*buttons*/

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
}

/* padding values */
.padding-top-header {
    padding: 20px 0 50px 0;
}

.padding-central-header {
    padding: 2rem 0;
}

.padding-sections {
    padding: 6.5rem 0;
}

.padding-bottom-footer {
    padding-top: 2rem;
    padding-bottom: 0;
}
/* padding values */

/* header */
header img {
    height: 30px;
}

.nav-bar {
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
}

.nav-bar .col {
    padding: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
}

.side-column {
    width: 20%;
}

.login {
    justify-content: flex-end;
}

.center-column {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}

.background-image {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 380px;
}

.container .header-section {
    height: 80%;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.header-section h1 {
    padding-bottom: 30px;
}

.introduction {
    line-height: 25px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

i {
    font-size: 0.9rem;
}
/* header */

/* main */
main .white { 
    background-color: #fff;
    height: 100%;
}

main .grey { 
    background-color: #F6F6F6;
    height: 100%;
}

.central-section {
    display: flex;
    height: 100%;
    width: 100%;
}

.central-section-img {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.central-section-img-reverse {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.central-section-img img {
    width: 75%;
}

.central-section-img-reverse img {
    width: 75%;
}

.central-section-text {
    height: 100%;
    min-width: 280px;
    max-width: 300px;
    color: #23272A;
    padding-top: 25px;
}

.central-section-text p {
    line-height: 25px;
    width: 90%;
    padding-top: 20px;
}

.reverse {
    flex-direction: row-reverse;
}

.last-section {
    height: 800px;
}

.central-section-green {
    background-color: #228B22;
    border: 1px dashed #000;
    height: 100%;
}
/* main */

/* footer */
.footer-columns {
    display: flex;
    min-height: 450px;
    margin-top: -20px;
    border: 1px dashed #000;
}

.footer-columns .jumbo-col {
    background-color: #F08080;
    border: 1px dashed #000;
    flex-grow: 1;
}

.footer-columns .smaller-col {
    background-color: #1FB2AA;
    border: 1px dashed #fff;
    min-width: 170px;
}

.container .credits {
    background-color: #7FFFD4;
    min-height: 60px
}

.credits .last-buttons {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    background-color: #FFB6C1;
    border: 2px dashed #000;
    text-align: center;
    height: 30px;
    padding: 5px;
}
/* footer */